.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  color: black;
  background-color: white;
}

.about-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
